{{ 'component-aux.css' | asset_url | stylesheet_tag }}

<section class="aux-page aux-page--center">
  <div class="page-width">
    <p class="aux-page__sub">{{ 'general.404.subtext' | t }}</p>
    <h1 class="aux-page__heading">{{ 'general.404.title' | t }}</h1>
    <a class="btn" href="{{ routes.all_products_collection_url }}">{{ 'general.404.continue_shopping' | t }}</a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
